.h-logo {
  margin: 20px 0 0 35px;
}

.h-language-select {
  display: flex;
  align-items: center;
}

.h-language {
  font-family: Orbitron-Regular;
  font-size: 18px;
  color: #e0e2e6;
}

.h-chevron {
  padding-left: 8px;
}
