.h-header {
  margin-top: 45px;
  margin-bottom: 230px;
}

.h-top-page .row {
  display: flex;
  align-items: center;
}

.h-logo {
  margin-left: 48px;
}

.h-navigation {
  margin-left: 80px;
  margin-top: 20px;
  margin-right: 5px;
}

.h-links {
  text-decoration: none;
  font-family: Orbitron-Regular;
  font-size: 21px;
  color: #ffffff;
}

.h-language {
  font-family: Orbitron-Regular;
  font-size: 21px;
  color: #ffffff;
  margin-right: 15px;
}

.h-links-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  justify-content: space-between;
}

.h-chevron {
  height: 14px;
}
