.n-nav {
  background-image: url(../img/22_nav-bgd.webp);
  background-repeat: no-repeat;
  background-size: 100%;
}

.n-nav-bar {
  margin-left: 60px;
}

.n-chapter {
  text-align: center;
  font-family: Orbitron-SemiBold;
  font-size: 24px;
}

.n-chapter a {
  text-decoration: none;
}
