.p-sponsor {
  margin: 50px 0 0 0;
}

.p-practical {
  margin: 0 0 100px 0;
  padding-top: 100px;
}

.p-practical h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.p-clock-icon,
.p-phone-icon {
  font-size: 30px;
  margin-right: 10px;
}

.p-practical p,
.p-practical a {
  font-family: Rajdhani-Regular;
  font-size: 26px;
  text-align: center;
  line-height: 35px;
}

.p-practical a {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
