.p-program {
  margin: 60px 0 95px 23px;
}

.p-friday {
  margin: 0 0 60px 38px;
}

.p-saturday {
  margin: 0 0 0 -50px;
}

.p-day {
  margin: 0 0 30px 0;
}

.p-hour {
  font-weight: 700;
  padding-right: 8px;
  font-size: 21px;
}

.p-activity {
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
}

.p-activity p {
  margin-right: 50px;
}
