.w-welcome {
  position: relative;
}

.w-data {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #f0f0f0;
  text-align: center;
  line-height: 129px;
}

.w-cloud {
  position: absolute;
  z-index: -1;
  top: -100;
  opacity: 60%;
}

.w-break-bar {
  border-top: solid #fff 1px;
  margin: 90px 0 110px 0;
}

.w-intro {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #f2f2f2;
  text-align: center;
  line-height: 34px;
  margin-bottom: 137px;
}

.w-intro-one p,
.w-intro-two p {
  padding: 0 60px;
}

.w-intro-one {
  margin-bottom: 40px;
}
