.w-welcome {
  position: relative;
  margin-top: 344px;
}

.w-weekend {
  font-family: Orbitron-SemiBold;
  font-size: 45px;
  line-height: 129px;
  margin-top: -25px;
  margin-bottom: 106px;
}

.w-ring {
  position: absolute;
  z-index: -2;
  opacity: 50%;
  top: -423px;
  right: -215px;
  width: 50%;
}
