/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

/* Ref fonts
font-family: 'Orbitron', sans-serif;
font-family: 'Rajdhani', sans-serif;
*/

* {
  color: #f2f2f2;
}

body {
  // background-image: url(../img/00_FOND.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Rajdhani", sans-serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 13%,
      rgba(22, 39, 48, 1) 16%,
      rgba(0, 0, 0, 1) 18%,
      rgba(0, 0, 0, 1) 26%,
      rgba(0, 0, 0, 1) 45%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 67%,
      rgba(22, 39, 48, 1) 72%,
      rgba(0, 0, 0, 1) 79%,
      rgba(0, 0, 0, 1) 91%,
      rgba(22, 39, 48, 1) 90%,
      rgba(0, 0, 0, 1) 98%
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
}

h1 {
  font-family: Orbitron-Bold;
  font-size: 110px;
  color: #f2f2f2;
  line-height: 120px;
  text-align: center;
}

h2 {
  font-family: Rajdhani-SemiBold;
  font-size: 60px;
  color: #f2f2f2;
  text-align: center;
}

h3 {
  font-family: Rajdhani-SemiBold;
  font-size: 45px;
  color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-family: Orbitron-Bold;
  font-size: 21px;
  color: #f2f2f2;
}

h5 {
  font-family: Rajdhani-Medium;
  font-weight: 300;
  font-size: 18px;
  color: #e6e6e6;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h6 {
  font-family: Rajdhani-SemiBold;
  font-size: 24px;
  color: #000000;
  text-align: center;
  margin: 27px 0 18px 0;
}

button {
  background-color: #eecce7;
  border: solid 1px #00284b;
  font-family: Orbitron-SemiBold;
  font-size: 20px;
  color: #0d0d0d;
  text-align: center;
  text-transform: uppercase;
  padding: 22px 49px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  color: #ffffff;
  background-color: #122630;
  border-color: #bbf5ff;
  transition: 0.3s;
}
